@page "/employee"

<h3>List Employees</h3>

<table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Employees)
        {


            <tr>
                <td>
                    @employee.employeeFirstName

                </td>
                <td>
                    @employee.employeeLastName
                </td>
                <td>
                    @employee.employeeUsername
                </td>
                <td>
                    Edit
                </td>
            </tr>
        }
    </tbody>
</table>


<p>
    <a class="btn btn-primary" href="/employee/create">Create Employee </a>
</p>

@code {
    private List<Employee> Employees = new List<Employee>();
    protected override async Task OnInitializedAsync()
        {

        }

}

